<%@ Master Language="VB" CodeFile="PagPrincipal_MenuWeb.master.vb" Inherits="PagPrincipal_MenuWeb" %>
<%@ Register Src="../Contador.ascx" TagName="Contador" TagPrefix="uc5" %>
<%@ Register Src="../MProyLeft.ascx" TagName="MProyLeft" TagPrefix="uc6" %>
<%@ Register Src="../MProyRight.ascx" TagName="MProyRight" TagPrefix="uc7" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
    <link href="../EstiloWebTec.css" rel="stylesheet" type="text/css" />
</head>
<body style="vertical-align: middle; text-align: center">
    <form id="form1" runat="server">
                    <asp:ScriptManager ID="ScriptManager1" runat="server" EnableScriptGlobalization="True"
                        EnableScriptLocalization="True">
                    </asp:ScriptManager>
        <table border="0" cellpadding="0" cellspacing="0" style="width: 911px; background-color: white;">
            <tr>
                <td align="left" style="width: 200px; height: 160px; vertical-align: middle; text-align: center; background-image: url(../Fotos/proceso.JPG); border-top-width: 1px; border-left-width: 1px; border-left-color: gray; border-bottom-width: 1px; border-bottom-color: gray; border-top-color: gray; border-right-width: 1px; border-right-color: gray;" valign="top">
                    </td>
                <td align="left" style="width: 611px; height: 160px;" valign="top" colspan="2">
                   <img src="../Fotos/LOGO WEBCASH-06.jpg" style="width: 611px"/>
                </td>
                <td align="left" style="width: 100px; height: 160px;" valign="top">
                    </td>
            </tr>
            <tr>
                <td align="left" colspan="2" style="height: 15px; width: 511px;" valign="top">
                    <asp:LinkButton ID="Inicio" runat="server" Font-Bold="False" Font-Names="Arial" Font-Size="8pt" Height="15px" PostBackUrl="~/Default.aspx" Width="60px" Font-Underline="False" onmouseout="this.style.fontWeight='normal'" onmouseover="this.style.fontWeight='bolder'" CssClass = "EstiloBoton" Font-Italic="True">Inicio</asp:LinkButton>
                    <asp:LinkButton ID="PaginaP" runat="server" Font-Bold="False" Font-Names="Arial" Font-Size="8pt" Height="15px" PostBackUrl="~/PaginaPrincipal.aspx" Width="100px" Font-Underline="False" onmouseout="this.style.fontWeight='normal'" onmouseover="this.style.fontWeight='bolder'" CssClass = "EstiloBoton" Font-Italic="True">PáginaPrincipal</asp:LinkButton>
                    <asp:LinkButton ID="btnCambioPass" runat="server" Font-Bold="False"
                        Font-Italic="True" Font-Names="Arial" Font-Size="8pt" Font-Underline="False" Height="15px" PostBackUrl="~/Sistema/SegSistema_CambioContraseña.aspx"  Width="120px" onmouseout="this.style.fontWeight='normal'" onmouseover="this.style.fontWeight='bolder'" CssClass="EstiloBoton">Cambiar Contraseña</asp:LinkButton>
                    <asp:LinkButton
                                ID="Cerrar" runat="server" Font-Bold="False" Font-Names="Arial" Font-Size="8pt" Height="15px" PostBackUrl="~/Salida.aspx" Width="100px" Font-Underline="False" Font-Italic="True" onmouseout="this.style.fontWeight='normal'"
                                            onmouseover="this.style.fontWeight='bolder'" CssClass="EstiloBoton">Cerrar Sesión</asp:LinkButton></td>
                <td align="left" colspan="2" style="width: 611px; height: 15px; text-align: right"
                    valign="top">
                    <div
                                    id="lblFecha" runat="server" style="font-weight: normal; font-size: 8pt; text-transform: capitalize;
                                    width: 350px; color: seagreen; font-family: Arial; height: 16px; text-align: right; font-style: italic; display: inline;">
                                </div>
                </td>
            </tr>
            <tr>
                <td align="center" style="width: 200px; height: 17px; background-position: center center; background-repeat: no-repeat; background-color: transparent; text-align: left;" valign="top">
                    <uc5:Contador ID="Contador1" runat="server" />
                </td>
                <td align="left" colspan="3" style="height: 17px; text-align: right; width: 711px;" valign="top">
                    <div id="lblAgrup" runat="server" style="width: 700px; color: seagreen; font-family: Arial;
                        height: 17px; text-align: right; font-size: 8pt; font-style: italic; display: inline;">
                    </div>
                </td>
            </tr>
            <tr>
                <td align="left" style="width: 200px; height: 300px;" valign="top">
                    <uc6:MProyLeft ID="MProyLeft1" runat="server" />
                </td>
                <td align="left" style="width: 611px; height: 300px;" valign="top" colspan="2">
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                </td>
                <td align="left" style="width: 100px; text-align: right; vertical-align: top; height: 300px;" valign="top">
                    <uc7:MProyRight ID="MProyRight1" runat="server" />
                </td>
            </tr>
            <tr>
                <td align="center" style="width: 200px; height: 15px" valign="middle">
                    
                </td>
                <td align="left" style="width: 611px; height: 15px; font-weight: bold; font-size: 13pt; vertical-align: middle; color: darkgray; font-style: italic; text-align: center; font-variant: normal;" valign="top" colspan="2">
                    Derechos Reservados: HAC-DATA</td>
                <td align="left" style="width: 100px; height: 15px" valign="top">
                </td>
            </tr>
            <tr>
                <td align="center" style="width: 200px; height: 15px" valign="middle">
                </td>
                <td align="left" colspan="2" style="font-weight: bold; font-size: 13pt; vertical-align: middle;
                    width: 611px; color: darkgray; font-style: italic; height: 15px; text-align: center;
                    font-variant: normal" valign="top">
                </td>
                <td align="left" style="width: 100px; height: 15px" valign="top">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
