@charset "ISO-8859-1";

body {
	background: white;
}

#contenedor {
	
	padding: 0;
	margin: 0;
}

#cuerpo {
	background: black;
	margin: 0 auto;
	width: 750px;
	max-width: 100%;
	display: flex;
	justify-content: center;
	font-family: cursive;
	color: white;
}

#id_form {
	flex-basis: 43em;
}

.form-group {
	margin: 1em 1em;
}

#titulo {
	text-align: center;
	margin-bottom: 0.7em;
}

.control-label {
	font-size: 110%;
	width: 32%;
	margin: 5px;
}

.form-control {
	width: 65%;
	float: right;
	font-size: 14px;
	line-height: 2;
	border: 1px solid gray;
	border-radius: 6px;
}

#control-button {
	background: white;
	float: right;
	vertical-align: middle;
	cursor: pointer;
	text-decoration: none;
	font-weight: 600;
	font-size: 15px;
	color: black;
	border-radius: 20px;
	border: 1px solid gray;
	padding: 6px 12px;
	margin-bottom: 5px;
}
#control-button:hover{
	background: gray;
	color: white;
}